*{
    padding: 0px;
    margin: 0px;
}
body {
 background-color: #325288;
}
header{
    height: 70px;
    background-color: #393E46;
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;
}

.lista{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EEEEEE;
    font-family: 'Cinzel', serif;

}
a{

text-decoration: none;
color: #EEEEEE;
}

#logo{
    font-family: 'Otomanopee One', sans-serif;
    font-size: 20px;
}
a.enlaceMenu{

    transition: border .2s ;
    padding: 5px 5px 5px 5px;
}

a.enlaceMenu:hover{
    border: 2px solid white;
}
.menuLogo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  
}

.nombre{
    font-family: 'Cinzel', serif;
    font-size: 14.9px;
    
}
.opcion{
    font-family: 'Cinzel', serif;
    font-size: 14.9px;
    text-decoration: underline; 
}
.aceptar{
    font-family: 'Cinzel', serif;
    font-size: 14.9px;
    
}

section{
   display: inline-block;
    text-align: center;
   line-height: 50px;
   display: block;
   text-align: center;
   animation-name: entrada;
   animation-duration: 4s;
   }
   @keyframes entrada {
       0%{
           opacity: 0;
       }
       100%{
           opacity: 1;
       }
   }
form{
    padding: 5px;
    margin-left: 490px;
   margin-top: 80px; 
   width: 300px;

}
.container{
    padding: 5px;
    border: 2px solid #EEEEEE;
    border-radius: 6px;
    background-color: #EEEEEE;
    color: #393E46;
}
button{

        background-color: white;
        color: black;
        padding: 5px 5px 5px 5px;
        border: 2px solid #393E46;
        border-radius: 6px;
        
        font-family: 'Cinzel', serif;
}